@use "src/styles/variables.scss" as *;

.input {
   max-width: 500px;
   font-size: 18px;
   background-color: $input-bg-color;
   color: $input-text-color;
   padding: 18px 19px;
   border-radius: 5px;
   border: 1px solid #fff;
   box-sizing: border-box;
}

.error {
   font-size: 14px;
   margin-top: -8px;
   border-color: $border-color-error;
}

@media (max-width: 768px) {
   .input {
      width: 100%;
   }
}
