$primary-color: #141024;
$secondary-color: #d52027;
$tertiary-color: #fff;

$bg-color-primary: $primary-color;
$bg-color-secondary: #f9f9f9;
$bg-color-tertiary: $secondary-color;
$bg-color-tertiary-active: #f3474d;
$bg-color-white: $tertiary-color;
$bg-color-modal-70: #141024b3;
$bg-image-tabs: linear-gradient(#ffffff82, #ffffff82, #ffffffd9);

$button-color-primary: $secondary-color;
$button-color-primary-hover: #ac0c12;
$button-color-secondary: $primary-color;
$button-color-secondary-hover: $tertiary-color;

$text-color-primary: $primary-color;
$text-color-primary-70: #141024b3;
$text-color-secondary: $tertiary-color;
$text-color-secondary-70: #ffffffde;
$text-color-tertiary: $secondary-color;

$accent-color-hover: #f3474d;

$scroll-bg-color: #ececed;
$scroll-thumb-color: $primary-color;

$icon-bg-color: #e5e5e5;

$shadow-tooltip-box: #e8e7e9;

$input-bg-color: #f6f6f6;
$input-text-color: #282944ed;

$border-color: #dddce0;
$border-color-hover: $primary-color;
$border-color-error: $primary-color;

$hr-color: #ececec;
