@use "src/styles/variables.scss" as *;

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;

  .modalBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bg-color-modal-70;
  }

  .modalContent {
    position: relative;
    overflow-y: hidden;
    background-color: #fff;
    border-radius: 20px;
    text-align: left;
    padding: 40px;
    max-height: 90vh;
    max-width: 940px;

    .closeModalBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 40px;
      top: 40px;
    }
  }
}

@media (max-width: 768px) {
  .modal {
    .modalContent {
      padding: 30px 20px;
      max-width: 100%;
      height: 100%;
      width: 100%;
      max-height: 100dvh;
      border-radius: 0;
      overflow-y: auto;

      .closeModalBtn {
        right: 15px;
        top: 15px;
      }
    }
  }
}
